@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

body {
    background-color: #1e1e1e;
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  
  .title-bar {
    height: 50px;
    width: 100%;
    background-color: #383838;
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .title-bar .document-name,
  .title-bar .menu-section {
    margin-right: 10px;
  }
  
  .menu-section button {
    background-color: #1e1e1e;
    border: none;
    outline: none;
    color: white;
  }
  
  main {
    flex: 1;
    padding: 10px;
  }
  
  main textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    resize: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 300;
  }